<!DOCTYPE html>
<html>
	<head>
		<title>Find your perfect shoe</title>
		<meta charset="utf-8"/>
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
		
		<!--		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0-alpha.1/jquery.mobile-1.4.0-alpha.1.min.css" />-->
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0-alpha.2/jquery.mobile.structure-1.4.0-alpha.2.css" />
		<link rel="stylesheet" href="css/lightBlueTheme.css" />
		<link rel="stylesheet" href="css/styles.css" />
		<link rel="stylesheet" href="css/extraTheme.css" />

		<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.4.0-alpha.2/jquery.mobile-1.4.0-alpha.2.min.js"></script>
		<script src="js/jquery.hammer.js"> </script>
		<script src="js/productData.js"></script>
	</head>
	
	<body>
		{% include '/include/fbCode.html' %}
		<div data-role="page" id="login">
			<div data-role="content" style="padding-top:0px">
				<img id="fbLoginBtn" src="images/FacebookButton.png" />
				<img class="mobileOnly" src="images/mobileOnlyHeader.png" style="width:300px" />
				<iframe class="mobileOnly" width="420" height="315" src="//www.youtube.com/embed/bbWh8TLStQg?rel=0" frameborder="0" allowfullscreen></iframe>
				<img class="mobileOnly" src="images/mobileOnlyFooter.png" style="width:300px" />
			</div>
		</div>

		<div data-role="page" id="home">
			<div data-role="panel" id="wishlist" class="" data-position="right" data-display="push"></div>
			<img src="images/thumbsUp.png" id="thumbUp" class="animate thumb action" />
			<img src="images/thumbsDown.png" id="thumbDown" class="animate thumb action" />
			{% include '/include/header.html' %}
			
			<div data-role="content" id="homeContent">
				<div id="pictureWrapper">

				</div>
				
			</div>
			<div data-role="content" id="instructions">
				<img src="images/instructionsX2.jpg" />
			</div>
			<div id="instructionsPopup" data-role="dialog" data-url="/html/instructions.html" data-external-page="true" tabindex="0" class="ui-page ui-page-theme-a ui-dialog ui-page-active" style="height: 100%;">
				<div class="">
					<img src="images/instructionsAll.jpg" style="width: 280px; display: block; margin:auto;" onclick="$('#instructionsPopup').fadeOut();">		
				</div>
			</div>
		</div>
	</body>

	<script src="js/analyticsCode.js"></script>
	<script src="js/tinder.js"></script>
	<script src="js/facebook.js"></script>

	<script type="text/javascript">
		//Setup Thumbnails
		$('#thumbUp').css('left',parseInt($('#slider').css('margin-left'))+20);	
	</script>

</html>
